# Build stuff
/rust/Cargo.lock
/rust/target/
/rust/*/target/
/target/
!/target/header.h
/build
/dist
/cmsis_pack_manager/_version.py
**/_native.py
**/_native__lib.so
**/_native__ffi.py
*.egg-info
*.pyc
.eggs

# Test stuff
.cache
.hypothesis

# Editor stuff
.#*
**/*.rs.bk
.idea
.vscode

# ctags
*.tags
tags

# virtualenvs
venv*
.venv*
