name: CI Build Wheel MacOS
on: workflow_dispatch

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest]
    env:
      CIBW_ARCHS_MACOS: x86_64 universal2
      CIBW_BUILD: "cp39-*"
      CIBW_ENVIRONMENT: 'PATH="$PATH:/usr/share/rust/.cargo/bin:$HOME/.cargo/bin"'
      CIBW_BUILD_VERBOSITY: 1

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.63.0
          profile: minimal

      - name: Install Rust aarch64-apple-darwin target
        run: rustup target add aarch64-apple-darwin

      - uses: actions/setup-python@v4
        name: Install Python
        with:
          python-version: 3.9

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.11.2

      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl
